#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

ROOT_DIR:=$(shell pwd)
export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

%:
	dh $@ --buildsystem=cmake --builddirectory=build --parallel

export ROS_VERSION = kinetic
export ROS_BASE_PREFIX = /opt/ros
export ROS_INSTALL_PREFIX = /opt/ros
export NNS_INSTALL_PREFIX = /usr
export NNS_INSTALL_LIBDIR = lib/${DEB_HOST_MULTIARCH}
export GST_PLUGIN_PATH=${ROOT_DIR}/build/gst/tensor_ros_sink

override_dh_auto_configure:
	dh_auto_configure -- -DROS_VERSION=${ROS_VERSION} \
		-DROS_BASE_PREFIX=${ROS_BASE_PREFIX} \
		-DROS_INSTALL_PREFIX=${ROS_INSTALL_PREFIX} \
		-DNNS_INSTALL_PREFIX=${NNS_INSTALL_PREFIX} \
		-DCMAKE_INSTALL_LIBDIR=${NNS_INSTALL_LIBDIR} \
		-DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_TARGET_MULTIARCH)"

override_dh_shlibdeps:
	dh_shlibdeps -l${ROS_INSTALL_PREFIX}/${ROS_VERSION}/lib

override_dh_auto_install:
	dh_auto_install --DESTDIR=$(CURDIR)/debian/tmp --

override_dh_auto_test:
	cd build && ./tests/tensor_ros_sink/unittest_tensor_ros_sink -V

override_dh_auto_clean:
	rm -rf build
