#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

ROOT_DIR:=$(shell pwd)
DEBIAN_CODENAME:=$(shell cat /etc/os-release | grep UBUNTU_CODENAME | column -t -s 'UBUNTU_CODENAME=')
# 'noetic' is the recommended version (focal)
ROS_DISTRO=noetic
ifeq ($(DEBIAN_CODENAME), xenial)
ROS_DISTRO=kinetic
endif
ifeq ($(DEBIAN_CODENAME), bionic)
ROS_DISTRO=melodic
endif

export ROS_BASE_PREFIX=/opt/ros
export ROS_INSTALL_PREFIX=/opt/ros

%:
	dh $@ --buildsystem=cmake --builddirectory=build --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DROS_VERSION=$(ROS_DISTRO) \
		-DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_TARGET_MULTIARCH)"

override_dh_shlibdeps:
	dh_shlibdeps -l${ROS_INSTALL_PREFIX}/${ROS_DISTRO}/lib

override_dh_auto_install:
	dh_auto_install --DESTDIR=$(CURDIR)/debian/tmp --

override_dh_auto_test:
	cd build && \
			LD_LIBRARY_PATH=devel/lib:${ROS_BASE_PREFIX}/$(ROS_DISTRO)/lib GST_PLUGIN_PATH=gst/tensor_ros_sink \
			./tests/tensor_ros_sink/unittest_tensor_ros_sink -V
	. build/devel/setup.sh && cd tests && ssat

override_dh_auto_clean:
	rm -rf build
	find . -name *.log | xargs rm -f
	find . -name *.bag | xargs rm -f
