#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

ROOT_DIR:=$(shell pwd)
export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
export GST_PLUGIN_PATH=${ROOT_DIR}/build/gst/nnstreamer

%:
	dh $@ --buildsystem=cmake --builddirectory=build --parallel

export ROS_VERSION = kinetic
export GST_PLUGIN_PATH=${ROOT_DIR}/build/gst/tensor_ros_sink

override_dh_auto_configure:
	dh_auto_configure -- -DROS_VERSION=${ROS_VERSION} \
		-DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_TARGET_MULTIARCH)"

override_dh_shlibdeps:
	dh_shlibdeps -l${ROS_INSTALL_PREFIX}/${ROS_VERSION}/lib

override_dh_auto_install:
	dh_auto_install --DESTDIR=$(CURDIR)/debian/tmp --

override_dh_auto_test:
	cd build && ./tests/tensor_ros_sink/unittest_tensor_ros_sink -V && cd ${ROOT_DIR}
	. build/devel/setup.sh && cd tests && ssat

override_dh_auto_clean:
	rm -rf build
	find . -name *.log | xargs rm -f
	find . -name *.bag | xargs rm -f
